:root {
    --main-text-color: #2e2f42;
    --secondary-text-color: #434455;
    --white-color: #fff;
    --button-color: #4d5ae5;
    --line-color: #e7e9fc;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
}

.head {
    width: 1128px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-text-color);
}

.first-letters {
color: var(--button-color);
}

.navigation {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 76px;
    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation li {
    padding-top: 24px;
    padding-bottom: 24px;
    list-style-type: none;
}

.navigation li + li {
margin-left: 40px;
}

.contacts {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
display: flex;

    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts li {
    list-style-type: none;
}

.contacts li + li {
margin-left: 40px;
}

.hero {
    background-color: var(--main-text-color);
    color: var(--white-color);
    text-align: center;
}

.hero-header {
    height: 72px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
}

.hero-button {
    background-color: var(--button-color);
    color: var(--white-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
}

.benefits {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
}

.benefits-header {
    display: none;
}

.benefits-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
        flex-wrap: wrap;
list-style-type: none;
}

.benefits-list li {
max-width: 264px;
}

.benefits-list li + li {
    margin-left: 24px;
}

.benefits-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
}

.benefits-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    font-size: 16px;
}

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
background-color: #F4F4FD;
}

.our-team-header {
    padding-bottom: 72px;
    font-weight: 700;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 36px;
}

.our-team-list {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.our-team-list li {
    width: 264px;
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list li + li {
    margin-left: 24px;
}

.team-name {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 20px;
}

.team-profession {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 16px;
}

.our-portfolio {
padding-top: 78px;
padding-bottom: 120px;
}

.our-portfolio-header{
    padding-bottom: 72px;
font-weight: 700;
    font-size: 36px;

    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-text-color);
}

.our-portfolio-list {
    width: 1128px;
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
    margin-right: auto;
padding-left: 0;
display: flex;
flex-wrap: wrap;

list-style-type: none;
}

.our-portfolio-list li {
    width: 360px;
    margin-bottom: 48px;
}

.our-portfolio-list li:not(:nth-child(3n)) {
    margin-right: 24px;
}

.our-portfolio-list li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.our-portfolio-content {
border-bottom: 1px solid var(--line-color);
    border-left: 1px solid var(--line-color);
    border-right: 1px solid var(--line-color);
    padding: 32px 16px;
}

.our-portfolio-name {
font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.our-portfolio-text {
font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
background-color: var(--main-text-color);
}

.foot {
    width: 264px;
    margin-left: 156px;
}

.footer-logo {
color: var(--white-color);
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-size: 16px;
}